.app {
  width: 70px;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  z-index: 100;
}

.app:active {
  filter: brightness(40%);
}

.status {
  width: 100%;
  color: var(--mac_application_status_color);
  height: 18px;
  text-align: center;
  font-size: 20px;
  user-select: none;

  span {
    position: relative;
    top: 2px;
  }
}