@import './variables.scss';

@media screen and (max-width: 581px) {
  .contact__message {
    font-size: 14px !important;
  }

  .contact__intro {
    .contact__intro_image {
      padding: 24px !important;

      .contact__image {
        width: 100px !important;
        height: 100px !important;
      }
    }

    .contact__intro_content {

      .contact__content_big {
        font-size: 18px !important;
      }

      .contact__content_small {
        font-size: 14px !important;
      }
    }
  }
}

@media screen and (max-width: 448px) {
  .contact__message {
    font-size: 12px !important;
  }

  .contact__intro {
    .contact__intro_image {
      padding: 16px !important;

      .contact__image {
        width: 80px !important;
        height: 80px !important;
      }
    }

    .contact__intro_content {

      .contact__content_big {
        font-size: 16px !important;
      }

      .contact__content_small {
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .contact__message {
    font-size: 10px !important;
  }

  .contact__intro {
    .contact__intro_image {
      padding: 16px !important;

      .contact__image {
        width: 70px !important;
        height: 70px !important;
      }
    }

    .contact__intro_content {

      .contact__content_big {
        font-size: 16px !important;
      }

      .contact__content_small {
        font-size: 12px !important;
      }
    }
  }
}

.contact__wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px;

  section {
    width: 500px;
    max-width: 500px;
    height: 700px;
    max-height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--blog_bg);
    overflow: hidden;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-name: slideUp;
    animation-fill-mode: forwards;
    padding: 25px;
    font-family: $general_fonts;

    .contact__intro {
      width: 100%;
      height: 180px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      user-select: none;

      .contact__intro_image {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;

        .contact__image {
          position: relative;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: rgb(224, 216, 251);
        }
      }

      .contact__intro_content {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: var(--blog_font);

        .contact__content_big {
          font-size: 20px;
        }

        .contact__content_small {
          font-size: 16px;
        }

        .contact__content_btnzone {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;
          height: 50px;
          align-items: center;

          .contact__button {
            cursor: pointer;
            font-size: 26px;
            color: var(--blog_link);
            margin-right: 15px;
          }

          .contact__button:hover,
          .contact__button:active {
            color: var(--blog_link_active);
          }
        }
      }
    }

    .contact__form {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .contact__input:last-child {
        width: 100%;
        height: auto;
      }

      .contact__input {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        align-items: center;
        
        label {
          cursor: pointer;
          width: 60px;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: var(--blog_font);
        }

        input,
        textarea {
          flex: 1;
          height: 30px;
          outline: none;
          padding-left: 7px;
          color: var(--blog_font);
          background: var(--blog_bg);
          border: var(--mac_terminal_border);
        }

        textarea {
          padding: 5px 7px;
          resize: none;
          height: auto;
          font-family: $general_fonts;
        }
      }
    }

    .contact__message {
      width: 100%;
      height: 30px;
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      align-items: center;
      justify-content: center;
      user-select: none;
    }

    .red {
      color: rgb(212, 50, 50);
    }

    .green {
      color: rgb(71, 190, 71);
    }

    .contact__buttons {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      button {
        cursor: pointer;
        width: 33%;
        min-width: 95px;
        height: 40px;
        border: none;
        outline: none;
        transition: $general_transition;
        user-select: none;
        background: var(--blog_button_wide_bg);
        color: var(--blog_button_wide_font);
        padding: 0 1rem;
        height: 2rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: bold;
        font-family: $general_fonts;
      }

      button:hover,
      button:active {
        background: var(--blog_button_wide_bg_active);
      }
    }
  }
}

.contact__wrapper.close {
  animation-name: fadeOut;

  section {
    animation-name: slideDown;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100px);
  }
}