@mixin font-face($style-name, $file, $format) {
  @font-face {
    font-family: $style-name;
    src: url($file) format($format);
    font-display: swap;
  }
}

// Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

// Apple SD Gothic Neo
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/SDGothicNEO/AppleSDGothicNeoR.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/SDGothicNEO/AppleSDGothicNeoL.woff') format('woff');
  font-weight: light;
  font-display: swap;
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/SDGothicNEO/AppleSDGothicNeoB.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

// DejaVu Sans Mono
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejavuSansMono/DejaVuSansMono.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejavuSansMono/DejaVuSansMono-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejavuSansMono/DejaVuSansMono-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

// FiraCode
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Light.woff') format('woff');
  font-weight: lighter;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Retina.woff') format('woff');
  font-weight: light;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-SemiBold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Bold.woff') format('woff');
  font-weight: bolder;
  font-display: swap;
}

// Monaco
@include font-face('Monaco', '/fonts/Monaco/Monaco.woff', 'woff');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

html, body, #__next {
  width: 100%;
  height: 100%;

  ul, li {
    list-style: none;
  }

  #theme_provider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// global dynamic variables
#theme_provider {
  --blog_bg: #fff;
  --blog_font: #252525;
  --blog_button_wide_bg: rgb(34, 37, 41);
  --blog_button_wide_bg_active: rgb(48, 49, 52);
  --blog_button_wide_font: #fff;
  --blog_button_small_bg: none;
  --blog_button_small_bg_active: rgb(242, 242, 242);
  --blog_button_small_font: rgb(34, 37, 41);
  --blog_foldable_header_bg: #fff;
  --blog_foldable_header_box_shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
}

#theme_provider[data-theme='dark'] {
  --blog_bg: #252525;
  --blog_font: #fff;
  --blog_button_wide_bg: rgb(75, 75, 75);
  --blog_button_wide_font: #fff;
  --blog_button_small_bg: none;
  --blog_button_small_bg_active: rgb(55, 55, 55);
  --blog_button_small_font: #fff;
  --blog_foldable_header_bg: #292929;
  --blog_foldable_header_box_shadow: none;

  html, body, #__next {
    background-color: #fff;
  }
}

// 다크모드
@media (prefers-color-scheme: dark) {
  #theme_provider {
    --blog_bg: #252525;
    --blog_font: #fff;
    --blog_button_wide_bg: rgb(75, 75, 75);
    --blog_button_wide_bg_active: rgb(90, 90, 90);
    --blog_button_wide_font: #fff;
    --blog_button_small_bg: none;
    --blog_button_small_bg_active: rgb(55, 55, 55);
    --blog_button_small_font: #fff;
    --blog_foldable_header_bg: #292929;
    --blog_foldable_header_box_shadow: none;
  }

  #theme_provider[data-theme='light'] {
    --blog_bg: #fff;
    --blog_font: #252525;
    --blog_button_wide_bg: rgb(34, 37, 41);
    --blog_button_wide_bg_active: rgb(48, 49, 52);
    --blog_button_wide_font: #fff;
    --blog_button_small_bg: none;
    --blog_button_small_bg_active: rgb(242, 242, 242);
    --blog_button_small_font: rgb(34, 37, 41);
    --blog_foldable_header_bg: #fff;
    --blog_foldable_header_box_shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
  }
  html, body, #__next {
    background-color: #252525;
  }
}