@mixin font-face($style-name, $file, $format) {
  @font-face {
    font-family: $style-name;
    src: url($file) format($format);
    font-display: swap;
  }
}

// Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

// Apple SD Gothic Neo
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/SDGothicNEO/AppleSDGothicNeoR.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/SDGothicNEO/AppleSDGothicNeoL.woff') format('woff');
  font-weight: light;
  font-display: swap;
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/SDGothicNEO/AppleSDGothicNeoB.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

// DejaVu Sans Mono
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejavuSansMono/DejaVuSansMono.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejavuSansMono/DejaVuSansMono-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejavuSansMono/DejaVuSansMono-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

// FiraCode
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Light.woff') format('woff');
  font-weight: lighter;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Retina.woff') format('woff');
  font-weight: light;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-SemiBold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode/FiraCode-Bold.woff') format('woff');
  font-weight: bolder;
  font-display: swap;
}

// Monaco
@include font-face('Monaco', '/fonts/Monaco/Monaco.woff', 'woff');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

html, body, #__next {
  width: 100%;
  height: 100%;

  ul, li {
    list-style: none;
  }

  #theme_provider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// global dynamic variables
#theme_provider {
  --blog_bg: #fff;
  --blog_font: #252525;
  --blog_button_wide_bg: rgb(34, 37, 41);
  --blog_button_wide_bg_active: rgb(48, 49, 52);
  --blog_button_wide_font: #fff;
  --blog_button_small_bg: none;
  --blog_button_small_bg_active: rgb(242, 242, 242);
  --blog_button_small_font: rgb(34, 37, 41);
  --blog_foldable_header_bg: #fff;
  --blog_foldable_header_box_shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;

  --mac_application_status_color: rgb(0, 0, 100);
  --mac_home_bg_image: url('/images/background-light.jpeg');
  --mac_header_bg: linear-gradient(to right, rgb(226, 177, 213), rgb(226, 195, 222), rgb(235, 220, 235), rgb(230, 206, 227), rgb(230, 196, 221));
  --mac_header_font: rgb(34, 26, 32);
  --mac_header_filter: blur(20px);
  --mac_header_text_shadow: none;
  --mac_header_button_active_bg: rgba(0, 0, 0, 0.1);
  --mac_docker_bg: rgb(143, 89, 248);
  --mac_terminal_border: 1px solid rgba(68, 67, 70, 0.3);
  --mac_terminal_controlbar_bg: rgba(238, 231, 240, 0.9);
  --mac_terminal_controlbar_font: rgb(70, 69, 72);
}

#theme_provider[data-theme='dark'] {
  --blog_bg: #252525;
  --blog_font: #fff;
  --blog_button_wide_bg: rgb(75, 75, 75);
  --blog_button_wide_font: #fff;
  --blog_button_small_bg: none;
  --blog_button_small_bg_active: rgb(55, 55, 55);
  --blog_button_small_font: #fff;
  --blog_foldable_header_bg: #292929;
  --blog_foldable_header_box_shadow: none;

  --mac_application_status_color: rgb(160, 142, 200);
  --mac_home_bg_image: url('/images/background.jpeg');
  --mac_header_bg: linear-gradient(to right, rgb(66, 20, 143), rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143));
  --mac_header_font: #fff;
  --mac_header_filter: blur(50px);
  --mac_header_text_shadow: 2px 4px 3px rgba(0,0,0,0.3);
  --mac_header_button_active_bg: rgba(255, 255, 255, 0.25);
  --mac_docker_bg: none;
  --mac_terminal_border: 1.2px solid rgba(68, 67, 70, 1);
  --mac_terminal_controlbar_bg: rgba(51, 47, 56, 0.9);
  --mac_terminal_controlbar_font: rgb(183, 173, 200);

  html, body, #__next {
    background-color: #fff;
  }
}

// 다크모드
@media (prefers-color-scheme: dark) {
  #theme_provider {
    --blog_bg: #252525;
    --blog_font: #fff;
    --blog_button_wide_bg: rgb(75, 75, 75);
    --blog_button_wide_bg_active: rgb(90, 90, 90);
    --blog_button_wide_font: #fff;
    --blog_button_small_bg: none;
    --blog_button_small_bg_active: rgb(55, 55, 55);
    --blog_button_small_font: #fff;
    --blog_foldable_header_bg: #292929;
    --blog_foldable_header_box_shadow: none;

    --mac_application_status_color: rgb(160, 142, 200);
    --mac_home_bg_image: url('/images/background.jpeg');
    --mac_header_bg: linear-gradient(to right, rgb(66, 20, 143), rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143));
    --mac_header_font: #fff;
    --mac_header_filter: blur(50px);
    --mac_header_text_shadow: none;
    --mac_header_button_active_bg: rgba(255, 255, 255, 0.25);
    --mac_docker_bg: none;
    --mac_terminal_border: 1.2px solid rgba(68, 67, 70, 1);
    --mac_terminal_controlbar_bg: rgba(51, 47, 56, 0.9);
    --mac_terminal_controlbar_font: rgb(183, 173, 200);
  }

  #theme_provider[data-theme='light'] {
    --blog_bg: #fff;
    --blog_font: #252525;
    --blog_button_wide_bg: rgb(34, 37, 41);
    --blog_button_wide_bg_active: rgb(48, 49, 52);
    --blog_button_wide_font: #fff;
    --blog_button_small_bg: none;
    --blog_button_small_bg_active: rgb(242, 242, 242);
    --blog_button_small_font: rgb(34, 37, 41);
    --blog_foldable_header_bg: #fff;
    --blog_foldable_header_box_shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;

    --mac_application_status_color: rgb(0, 0, 100);
    --mac_home_bg_image: url('/images/background-light.jpeg');
    --mac_header_bg: linear-gradient(to right, rgb(226, 177, 213), rgb(226, 195, 222), rgb(235, 220, 235), rgb(230, 206, 227), rgb(230, 196, 221));
    --mac_header_font: rgb(34, 26, 32);
    --mac_header_filter: blur(20px);
    --mac_header_text_shadow: none;
    --mac_header_button_active_bg: rgba(0, 0, 0, 0.1);
    --mac_docker_bg: rgb(143, 89, 248);
    --mac_terminal_border: 1px solid rgba(68, 67, 70, 0.3);
    --mac_terminal_controlbar_bg: rgba(238, 231, 240, 0.9);
    --mac_terminal_controlbar_font: rgb(70, 69, 72);
  }

  html, body, #__next {
    background-color: #252525;
  }
}

// 768 이하
@media screen and (max-width: 768px) {
  // 기본
  #theme_provider {
    --mac_header_bg: linear-gradient(to right, rgb(235, 220, 235), rgb(235, 220, 235), rgb(230, 211, 230));
  }
  #theme_provider[data-theme='dark'] {
    --mac_header_bg: linear-gradient(to right, rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143));
  }

  // 다크
  @media (prefers-color-scheme: dark) {
    #theme_provider {
      --mac_header_bg: linear-gradient(to right, rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143));
    }

    #theme_provider[data-theme='light'] {
      --mac_header_bg: linear-gradient(to right, rgb(235, 220, 235), rgb(235, 220, 235), rgb(230, 211, 230));
    }
  }
}

// 높이 500 이하
@media screen and (max-height: 500px) {
  // 기본
  #theme_provider {
    --mac_header_bg: linear-gradient(to right, rgb(226, 177, 213), rgb(226, 195, 222), rgb(235, 220, 235), rgb(230, 206, 227), rgb(230, 196, 221));
  }
  #theme_provider[data-theme='dark'] {
    --mac_header_bg: linear-gradient(to right, rgb(66, 20, 143), rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143));
  }

  // 다크
  @media (prefers-color-scheme: dark) {
    #theme_provider {
      --mac_header_bg: linear-gradient(to right, rgb(66, 20, 143), rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143));
    }
    #theme_provider[data-theme='light'] {
      --mac_header_bg: linear-gradient(to right, rgb(226, 177, 213), rgb(226, 195, 222), rgb(235, 220, 235), rgb(230, 206, 227), rgb(230, 196, 221));
    }
  }
}