@media (prefers-color-scheme: dark) {
  .home {
    // background-image: url('/images/mac_bg_dark.svg');
    background-image: url('/images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

@media (prefers-color-scheme: light) {
  .home {
    // background-image: url('/images/mac_bg_light.svg');
    background-image: url('/images/background-light.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

.home {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  overflow: hidden;
}