@media screen and (max-width: 768px) {
  @media (prefers-color-scheme: dark) {
    .header {
      background: linear-gradient(to right, rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143)) !important;
    }
  }

  @media (prefers-color-scheme: light) {
    .header {
      background: linear-gradient(to right, rgb(235, 220, 235), rgb(235, 220, 235), rgb(230, 211, 230)) !important;
    }
  }
  
}

@media screen and (max-height: 500px) {
  @media (prefers-color-scheme: dark) {
    .header {
      background: linear-gradient(to right, rgb(66, 20, 143), rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143)) !important;
    }
  }

  @media (prefers-color-scheme: light) {
    .header {
      background: linear-gradient(to right, rgb(226, 177, 213), rgb(226, 195, 222), rgb(235, 220, 235), rgb(230, 206, 227), rgb(230, 196, 221)) !important;
    }
  }
}

@media (prefers-color-scheme: light) {
  .header {
    background: linear-gradient(to right, rgb(226, 177, 213), rgb(226, 195, 222), rgb(235, 220, 235), rgb(230, 206, 227), rgb(230, 196, 221));
    color: rgb(34, 26, 32);

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    .header__btn:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .docker {
    background: rgb(143, 89, 248);
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background: linear-gradient(to right, rgb(66, 20, 143), rgb(56, 17, 160), rgb(45, 13, 161), rgb(42, 10, 143));
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);

    .header__btn:active {
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

// header
.header {
  // init
  width: 100%;
  height: 25px;
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6px;
  cursor: default;
  user-select: none;
  // background
  // font
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: light;
  font-size: 13px;
  // transition
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

  .header__btn {
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
  }

  .header__router {
    display: flex;
    flex-direction: row;
    height: 100%;

    // 홈 가기
    .header__home {
      font-size: 15px;
    }

    // 제목
    .header__title {
      font-weight: bold;
    }
  }

  .header__statusbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Apple SD Gothic Neo', sans-serif;
    font-weight: normal;

    .header__btn {
      padding: 0px 10px;
    }
  }
}

//0 22px 70px 4px rgba(0, 0, 0, 0.56); 

// footer
.docker__route {
  max-width: 100%;
  min-width: 80px;
  height: 40px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 93.5px;
}

.docker {
  max-width: 100%;
  min-width: 80px;
  height: 90px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: absolute;
  bottom: 3.5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 5px 2px 5px;

  .application__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      li {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}