@import "./variables.scss";

@media screen and (max-width: 778px) {
  .terminal {
    width: 100% !important;
    height: calc(100% - 94px) !important;
  }
}

.terminal {
  display: flex;
  width: 56.5%;
  height: 80%;
  max-width: 100%;
  max-height: calc(100% - 90px);
  flex-direction: column;
  border: var(--mac_terminal_border);
  position: absolute;
  z-index: 100000;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  overflow: hidden;

  .terminal__controlbar {
    user-select: none;
    cursor: default;
    position: relative;
    width: 100%;
    height: 28px;
    background: var(--mac_terminal_controlbar_bg);
    color: var(--mac_terminal_controlbar_font);
    font-family: $general_fonts;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 8px;

    .terminal__btnzone {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 52px;
      justify-content: space-between;
      align-items: center;

      span {
        border-radius: 50%;
        opacity: 1;
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 10px;
        vertical-align: middle;
        text-align: center;
        z-index: 101;
      }

      span:active {
        filter: brightness(120%);
      }

      .btn_red {
        background: rgb(237, 106, 94);
      }

      .btn_yellow {
        background: rgb(245, 191, 79);
      }

      .btn_green {
        background: rgb(98, 197, 84);
      }
    }

    .terminal__title {
      position: absolute;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 46.5%;
    }
  }

  .terminal__wrapper {
    cursor: text;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    max-height: calc(100% - 28px);
    flex: 1;
    padding: 2px 5px 5px 5px;

    .terminal__body {
      background: transparent;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      font-family: 'Monaco';
      font-size: 15px;
      color: #fff;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;

      .line {
        max-width: 100%;
        height: auto;
        word-wrap: break-word;
        word-break: break-all;
        display: flex;
        flex-direction: row;
  
        .session {
          width: fit-content;
          min-width: fit-content;
          word-break: keep-all;
          margin-right: 8px;
        }
  
        .session::selection {
          background: rgba(82, 82, 82, 0.85) !important;
        }
    
        .input {
          display: inline;
          flex: 1;
          max-width: 100%;
          outline: none;
          border: none;
          background: transparent;
          color: #fff;
          font-size: 15px;
          font-family: 'Monaco';
          caret-color: rgba(96, 96, 96, 0.85);
        }
  
        .input::selection {
          background: rgba(82, 82, 82, 0.85) !important;
        }

        .android__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
        }
      }
    }
  }
}
