// constant variables
$general_fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$general_transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
// header
$header-button-wide-color: #fff;